spring:
  application:
    name: ai-agent-platform

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  config:
    import: optional:env


openrouter:
  api:
    key: ${OPENROUTER_API_KEY}



jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION:86400000}

server:
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always


# JWT config fixed for Railway
